<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form id="signupForm" action="/user/signup" method="post">
    <div>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required>
        <span id="emailMessage"></span>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="profile">프로필 사진 파일 이름:</label>
        <input type="text" id="profile" name="profile">
    </div>
    <div>
        <label for="address">집 주소:</label>
        <input type="text" id="address" name="address">
    </div>
    <div>
        <label for="phone">휴대전화 번호:</label>
        <input type="tel" id="phone" name="phone">
    </div>
    <div>
        <label for="username">사용자 이름:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname">
    </div>
    <div>
        <label>성별:</label>
        <input type="radio" id="male" name="gender" value="MALE">
        <label for="male">남성</label>
        <input type="radio" id="female" name="gender" value="FEMALE">
        <label for="female">여성</label>
        <input type="radio" id="other" name="gender" value="OTHER">
        <label for="other">기타</label>
    </div>
    <button type="submit">가입하기</button>
</form>

<div id="duplicateEmailMessage"></div>

<script>

    async function handleSignup(event) {
        event.preventDefault(); // 폼 제출 방지

        const emailInput = document.getElementById("email");
        document.getElementById("signupForm").submit(); // 폼 제출
    }

    document.getElementById("signupForm").addEventListener("submit", handleSignup);
</script>
</body>
</html>